body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f580;
    margin: 0;
    padding: 0;
    text-align: center;
}

.heading {
    margin-top: 25px;
    font-size: 32px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 40px;

}

.card {
    background: rgb(236, 236, 236);
    width: 260px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    transform: scale(1.1); /* zoom in 10% */
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: contain;
    margin-bottom: 15px;

}

.card h2 {
    font-size: 18px;

}


