body{
     background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 22px;
}
h1{
    color:black;
    margin-bottom: 31px; 
}
.product-box {
    background-color: white;
    margin:0 auto;
    width: 300px;
    padding: 16px;
     border-radius:8px;
    border: 3px solid rgb(160, 157, 157);
   
}
.product-box img{

    width:91%;
    border-radius: 6px;
    height:auto;
    border: none;
}
.product-box h2{
    color:black;
     margin: 10px;
    font-size: 20px; 
    width: auto;
    border:none;
}
.description{
    font-size: 14px;
    color:rgb(134, 134, 134);
    margin: 12px 0;
}
#price{
    color:red;
    font-weight: bold;
    margin-bottom: 16px;
}
button{
    background-color: blue;
   color: white;
     border: none;
   padding: 15px 25px;
   border-radius: 6px;

}


