body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    text-align: center;
    margin: 20px;
}
h1{
    color:black;
    margin-bottom: 30px; 
}
.product-box {
    background-color: white;
    width: 300px;
    margin:0 auto;
    padding: 15px;
    border: 2px solid grey;
    border-radius:8px;
}
.product-box img{

    width:90%;
    height:auto;
    border-radius: 5px;
    border: none;
}
.product-box h2{
    color:black;
    font-size: 20px;
    margin: 10px;
    border:none;
    width: auto;
}
.description{
    color:dimgray;
    font-size: 14px;
    margin: 10px 0;
}
#price{
    color:red;
    font-weight: bold;
    margin-bottom: 15px;
}
