h1 {
    color: yellow;
    text-align: center;
    background-color: green;
    font-size: 50px;
   }
p {
    color:aqua;
    font-size: 40px;
    text-align:"center";
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
body {
    background-color: lightgrey;
  }