body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.block-menu a{
    display: block;
    background-color: #3498db;
    color: white;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
}

.inline-menu a{
    display: inline;
    background-color: #1d9730;
    color: rgb(218, 17, 17);
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}


