#sdata{
    width:1400px;
    height:400px ;
    border: 3px solid black;
    margin-left: 4%;
    margin-top: 10%;
     display: flex;
    flex-direction: row;
    justify-content: center;


}

.sinfo{
    border: 5px solid rgba(4, 42, 234, 0.721);
    width: 300px;
    height: 300px;
    margin-top: 40px;
    border-radius: 5%;
    margin-right: 40px;
    box-shadow: 10px 10px 5px grey;
    
}

.para{
    display:block;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}